{% extends "admin/bars.html.twig" %}

{% block contenpage %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h5> Listing </h5>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Time track</h2>
                        <form>

                        </form>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a href="{{ path('app_admin_time_track_create') }}" class="btn btn-success">Tạo dữ
                                    liệu</a>
                            </li>
                            <li><a href="{{ path('app_admin_date_track_bulk') }}" class="btn btn-success">Tính công</a>
                            </li>
                            <li><a href="{{ path('app_admin_time_track_download') }}" class="btn btn-success">Download</a>
                            </li>
                            <li><a href="{{ path('app_admin_reset') }}" class="btn btn-success">Reset</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">

                            <table id="example"
                                   class="display table table-striped table-bordered dataminetables table-responsive">
                                <thead>
                                <tr>
                                    <th>Ma Nhan Vien</th>
                                    <th>Ten</th>
                                    <th>Phong</th>

                                    {% for i in range(1,31) %}

                                        <th {% if  dates[i] == 'CN' %} class="bg-red" {% endif %}>{{ i }} <br/>
                                            {{ dates[i] }}
                                        </th>
                                    {% endfor %}
                                    <th>TC</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for employee in employees %}


                                <tr>
                                    <td>
                                        <a href="{{ path('app_admin_date_log_employee_index', {id:employee.id}) }}">{{ employee.employeeCode }}</a>
                                    </td>
                                    <td>{{ employee.name }}</td>
                                    <td>{{ employee.department }}</td>
                                    {% set sum = 0 %}
                                    {% for i in range(1,31) %}

                                        {% if calendars[employee.id][i].id is defined %}
                                            <td  class="{% if calendars[employee.id][i].overtime %}bg-green {% endif %}{% if  dates[i] == 'CN' %}border border-danger{% endif %}">
                                                <a href="{{ path('app_admin_date_log_edit', {id:calendars[employee.id][i].id}) }}">  {{ (calendars[employee.id][i].value/60)|round(0, 'floor') }}
                                                    h {{ (calendars[employee.id][i].value%60)|round(0,) }}p </a>
                                                {%  if (dates[i] == 'CN') %}
                                                      {% set sum = sum + calendars[employee.id][i].value * 2 %}
                                                   {% else %}
                                                       {% set sum = sum + calendars[employee.id][i].value %}
                                                {% endif %}
                                            </td>

                                        {% else %}
                                            <td></td>
                                        {% endif %}




                                    {% endfor %}
                                    <td> {{ (sum/60)|round(0, 'floor') }}h {{ (sum%60)|round(0,) }}p</td>
                                </tr>
                                </tbody>

                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
